language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
# command to install dependencies
install: 
    python setup.py install --user

# command to run tests
script:
    cd sandbox/tests/
    py.test-3
